<a href="https://colab.research.google.com/github/jaesunkkk/esaa_numpy/blob/main/Occupation_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습3 감 잡기

이번에는 데이터를 인터넷에서 직접 가져올 겁니다. https://github.com/justmarkham 에게 자료와 교재를 제공해줘서 특별히 감사를 전합니다.

### 단계 1. 필요한 라이브러리를 다운로드한다.

In [9]:
import pandas as pd

### 단계2. 자료를 이 [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) 에서 바로 불러온다.

### 단계 3. 이걸 users라는 변수에 할당하고 'user_id'를 색인으로 쓴다.

In [10]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|', index_col = 'user_id')
print(users)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### 단계4. 첫 25개 열을 본다.

In [11]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 단계5. 마지막 10개 열을 본다.

In [12]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 단계 6. 자료에 있는 관측치(observations)의 수는 총 몇 개인가?

In [13]:
users.shape[0]

943

### 단계 7. 데이터 셋에 있는 열(columns)의 수는 총 몇 개인가?

In [14]:
users.shape[1]

4

### 단계 8. 모든 열의 이름을 출력(print)한다.

In [15]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 단계 9. 자료는 어떻게 색인되어 있나?

In [16]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### 단계 10. 각 열의 자료형(data type)은 무엇인가?

In [20]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [21]:
#처음에 헷갈렸던 코드
print(type(users))

<class 'pandas.core.frame.DataFrame'>

### 단계 11. 직업(occupation) 열만 출력한다.

In [25]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [33]:
#Q 이렇게는 안되려나? - user.iloc[,2]는 오류! 모든 행 다 표시해야함
users.iloc[0:,2]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [28]:
#이건 왜 안될까?- 뒤의 []에 칼럼명을 지정해야함
users[3]

KeyError: ignored

### 단계 12. 이 자료에는 서로 다른 직업이 얼마나 있는가?

In [34]:
len(users['occupation'].unique())

21

### 단계 13. 가장 흔한 직업은 무엇인가?

In [35]:
#직업명과 빈도
print(users['occupation'].value_counts().idxmax())
print(users['occupation'].value_counts().max())

student
196

### 단계 14. 데이터 프레임을 요약한다.

In [36]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### 단계 15. 모든 열을 요약한다.

In [38]:
users.describe(include = 'all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### 단계 16. 오직 직업(occupation)열만 요약한다.

In [37]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 단계 17. users의 평균 나이(age)는 얼마인가? (반올림하자.)

In [40]:
round(users['age'].mean(),2)

34.05

### 단계 18. 빈도가 가장 적은 나이는 무엇인가?

In [43]:
age_2 = pd.DataFrame(users['age'].value_counts(ascending=True)).reset_index()
print(age_2)

    index  age
0       7    1
1      66    1
2      73    1
3      10    1
4      11    1
..    ...  ...
56     27   35
57     28   36
58     22   37
59     25   38
60     30   39

[61 rows x 2 columns]

In [45]:
age_2.columns = ['age', 'counts']
print(age_2)

    age  counts
0     7       1
1    66       1
2    73       1
3    10       1
4    11       1
..  ...     ...
56   27      35
57   28      36
58   22      37
59   25      38
60   30      39

[61 rows x 2 columns]

In [46]:
#age의 빈도 중 최소값을 min_age에 저장(?)
min_age = users['age'].value_counts(ascending=True).min
print(min_age)

<bound method Series.min of 7      1
66     1
73     1
10     1
11     1
      ..
27    35
28    36
22    37
25    38
30    39
Name: age, Length: 61, dtype: int64>

In [49]:
# sorted: 파이썬 정렬함수-정렬된 결과는 list로 반환.
# sort 함수는 리스트명.sort( ) 형식으로 "리스트형의 메소드"​​이며 리스트 원본값을 직접 수정합니다.
# sorted 함수는 sorted( 리스트명 ) 형식으로 "내장 함수"이며 리스트 원본 값은 그대로이고 정렬 값을 반환합니다.
print('\n빈도가 가장 적은 나이')
print(sorted(age_2['age'][age_2['counts']==1].tolist()))

빈도가 가장 적은 나이
[7, 10, 11, 66, 73]